.card {
  width: 100%;
  border-radius: 8px;
  height: 250px;
  overflow: hidden !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  .content {
    font-family: "Open Sans";
    text-align: center;
    padding: 10px;
    opacity: 0;
    transition: all 500ms ease-in-out;
    transform: translate(0, 20px);
    cursor: pointer;
    h1 {
      font-size: 25px;
      color: #E7E7E7;
    }
    p {
      font-size: 18px;
      color: #E7E7E7;
      margin-bottom: 20px;
    }

    .btn {
      background-color: black;
      color: #E7E7E7;
      padding: 10px;
      text-decoration: none;
    }
    &:hover {
      opacity: 1;
      transform: translate(0, 0px);
    }
  }

  .content:hover {
    background-image: linear-gradient(rgba(189, 189, 189, 0.054), rgba(66, 66, 66, 0.596), rgba(189, 189, 189, 0.054));
  }
}
